<div class="post">
  <h1><%= @post.block.title %></h1>
  <div class="post_data">
    Written <%= @post.created_at %>
  </div>
  <div class="post_content">
    <%= simple_format(@post.content) %>
  </div>
</div>