%div.jumbotron
  %h1 The social Portfolio
  %p Showcasing you work well can be tedious work. Design and interaction can be a tedious job to design.
  %p Insidion is the new Social Portfolio Platform just for you! Add people you collaborated with in projects, commend them, and attract new clients.
  %p
    %a{class: 'btn btn-primary btn-lg', href: new_user_registration_path, role: 'button'} Sign up

