<div class="jumbotron">
  <h1>The Social Portfolio</h1>

  <p>
    Showcasing you work well can be tedious work. Design and interaction can be a tedious job to design.
  </p>

  <p>
    Insidion is the new Social Portfolio Platform just for you! Add people you collaborated with in projects,
    commend them, and attract new clients.
  </p>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a></p>
</div>